# Ignore build directories
/bin/
/out/

# Ignore CMake build script
CMakeFiles/
CMakeCache.txt
cmake_install.cmake

# Ignore Visual Studio Code workspace settings (if applicable)
.vscode/

# Ignore macOS specific files
.DS_Store

# Ignore any other build artifacts or temporary files
*.o
*.a
*.so
*.dll
*.exe
*.out
*.app
*.dSYM/

# Ignore generated documentation
/doc/

# Ignore any local IDE or editor settings (adjust as needed)
.idea/
*.suo
*.user
*.sln.docstates

# Ignore backup files created by text editors or IDEs
*~